body {
    font-family: Arial, Helvetica, sans-serif;
}

body h2 {
    font-size: 25px;
    
}

.header_name {
    display: block;
    padding-block: 30px;
    background-color: rgb(29, 42, 130);
    text-align: center;
    color: white;
}

.my_name_header {
    font-size: 40px;
    padding: 10px;
}

.cargo {
    font-size: 20px;
}

.contatos {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(10px, 1fr));
    gap: 1rem;
    padding: 20px;
}

.contatos img {
    display: block;
    max-width:40px;
    max-height:25px;
    width: auto;
    height: auto;
    float:left;
}

.contatos a{
    padding: 8px;
}

.footer_direitos {
    justify-content: end;
    padding-block: 30px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
}