{% load static %}<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "./css/style-project.css" %}">
    <title></title>
</head>
<body>
    <header class="header_name">
        <p class="my_name_header">Endryus Daniel</p>
        <p class="cargo">Programador | Full-Stack Developer</p>
    </header>

    <button id="menu-button">&#9776;</button>
    <div id="menu">
        <ul>
            <li><a href="../home/index.html">Home</a></li>
            <li><a href="../contact/index.html">Contatos</a></li>
            <li><a href="../credits/index.html">Créditos</a></li>
          </ul>
    </div>


    <footer class="footer_direitos">
        <p>© 2024 Endryus Daniel. Todos os direitos reservados.</p>
    </footer>

    
</body>
</html>